* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background-color: rgb(255, 240, 200);*/
  background-image: url("../images/milk.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /*font-family: "Lora", serif;*/
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.7;
  color: #222;
}

h1,
h2,
h3 {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 2px rgba(19, 18, 15, 0.3);
}

h1 {
  font-size: clamp(32px, 5vw, 56px);
  margin-bottom: 20px;
}

h2 {
  font-size: clamp(30px, 4vw, 44px);
  margin: 30px 0 15px;
}

h3 {
  font-size: clamp(20px, 2vw, 24px);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 30px 40px 60px;
}
/* Вертикальные margin схлопываются.
   Поэтому расстояние между header и main
   задаём только margin-bottom у header */
header {
  background-color: rgb(255, 255, 255, 0.2);
  margin-bottom: 140px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

main {
  background-color: rgb(255, 255, 255, 0.2);
  margin-top: 0;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

section {
  margin: 10px 0 0 0;
}

#about {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#skills {
  margin-left: 80px;
}
.my_photo {
  flex: 2;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 45%;
}
.txt_about {
  flex: 6;
}

p {
  text-indent: 25px;
  margin: 0; /*Сверху,вправо,снизу, влево*/
  padding: 0;
  line-height: 1.5; /*высота строки*/
}
li {
  list-style: none;
  padding: 10px 0 0 20px;
}

#projects {
  margin-left: 40px;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 30px 40px 60px;
}
